<div>
    <form class="layui-form" method="post">
        <input type="hidden" name="id" value="{{.m.Id}}">



        <div class="layui-form-item">
            <label for="L_display_name" class="layui-form-label">
                <span class="x-red">*</span>分类名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_display_name" name="display_name" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" value="{{.m.DisplayName}}">
            </div>
        </div>


        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                更新
            </button>
        </div>
    </form>
</div>
<script>

    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
                ,layer = layui.layer;

        //自定义验证规则
        form.verify({
            display_name:function (value) {
                if(value.length < 0){
                    return '显示名称不能为空';
                }
            }

        });

        //监听提交
        form.on('submit(add)', function(data){
            console.log(data);
            //发异步，把数据提交给后端
            $.ajax({
                url:"/admin/rbac/category_edit",
                type:"post",
                dataType:"json",
                data:data.field,
                success:function (e) {
                    console.log(e);
                    if(e.code == 0) {
                        layer.alert("更新成功", {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    }else{
                        layer.msg(e.msg, function(){

                        });
                    }
                } ,
                error:function (e) {
                    layer.msg(JSON.stringify(e),function(){

                    });
                }
            });

            return false;
        });


    });
</script>
